<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <!-- DONT FORWARD ... REQUIRE IN CODE THAT REQUEST IS SECURE
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->

    <servlet>
        <servlet-name>ping</servlet-name>
        <servlet-class>com.arreev.api.PINGServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ping</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>com.arreev.api.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fleets</servlet-name>
        <servlet-class>com.arreev.api.FleetsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fleets</servlet-name>
        <url-pattern>/fleets</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fleet</servlet-name>
        <servlet-class>com.arreev.api.FleetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fleet</servlet-name>
        <url-pattern>/fleet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>transporters</servlet-name>
        <servlet-class>com.arreev.api.TransportersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transporters</servlet-name>
        <url-pattern>/transporters</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>transporter</servlet-name>
        <servlet-class>com.arreev.api.TransporterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transporter</servlet-name>
        <url-pattern>/transporter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>routes</servlet-name>
        <servlet-class>com.arreev.api.RoutesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>routes</servlet-name>
        <url-pattern>/routes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>route</servlet-name>
        <servlet-class>com.arreev.api.RouteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>route</servlet-name>
        <url-pattern>/route</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>waypoints</servlet-name>
        <servlet-class>com.arreev.api.WaypointsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>waypoints</servlet-name>
        <url-pattern>/waypoints</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>waypoint</servlet-name>
        <servlet-class>com.arreev.api.WaypointServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>waypoint</servlet-name>
        <url-pattern>/waypoint</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>assignments</servlet-name>
        <servlet-class>com.arreev.api.AssignmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>assignments</servlet-name>
        <url-pattern>/assignments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>assignment</servlet-name>
        <servlet-class>com.arreev.api.AssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>assignment</servlet-name>
        <url-pattern>/assignment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>follow</servlet-name>
        <servlet-class>com.arreev.api.FollowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>follow</servlet-name>
        <url-pattern>/follow</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>follows</servlet-name>
        <servlet-class>com.arreev.api.FollowsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>follows</servlet-name>
        <url-pattern>/follows</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>groups</servlet-name>
        <servlet-class>com.arreev.api.GroupsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>groups</servlet-name>
        <url-pattern>/groups</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>group</servlet-name>
        <servlet-class>com.arreev.api.GroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>group</servlet-name>
        <url-pattern>/group</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>persons</servlet-name>
        <servlet-class>com.arreev.api.PersonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>persons</servlet-name>
        <url-pattern>/persons</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>person</servlet-name>
        <servlet-class>com.arreev.api.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>person</servlet-name>
        <url-pattern>/person</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>invitation</servlet-name>
        <servlet-class>com.arreev.api.InvitationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>invitation</servlet-name>
        <url-pattern>/invitation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cleanup</servlet-name>
        <servlet-class>com.arreev.api.CleanupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cleanup</servlet-name>
        <url-pattern>/cleanup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>purge</servlet-name>
        <servlet-class>com.arreev.api.PurgeWorker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>purge</servlet-name>
        <url-pattern>/purge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>notifications-service</servlet-name>
        <servlet-class>com.arreev.api.NotificationsServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>notifications-service</servlet-name>
        <url-pattern>/notifications-service</url-pattern>
    </servlet-mapping>

</web-app>